*{

    margin: 0;
    padding: 0;

}
.header{

    display: flex;
    justify-content: space-between;
    /* background-color: rgb(209, 209, 52); */
    border-bottom: 1px solid black ;
    
}
.header img{

    height: 15px;
    width: 15px;
}
.left{

    display: flex;
    
}
.right{

    display: flex;
    /* background-color: aqua; */
    flex-basis: 350px;
    justify-content: space-evenly;


}
.main-content{

    display: flex;
    /* margin: 5px; */
    padding: 10px;
}
.main-content p{
    margin: 5px;
    color: rgb(119, 146, 196);
    font-size: 17px;
}
.main-content img{
    margin: 5px;
    
}

.navigation{

    display: flex;
    padding: 10px;
    border-left: 1px solid  rgb(170, 170, 170);
}
.navigation p {

    margin: 5px;
    color: rgb(119, 146, 196);
    font-size: 17px;
}



.navigation img {

    margin: 5px;
}
.matric-home{
    display: flex;
    background-color: #f37e2b;
}
.matric-home img{

    height: 20px;
    color: rgb(250, 243, 243);
    width:20px;
}
.alpha{

    display: flex;
    align-items: center;
}
.alpha p{

    margin: 1px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 5px;

}
.matric-home p{

    margin: 10px;
    color: white;
}
.matric-home img{

    margin: 10px;
    
}
.marathi{

    padding: 10px;
}
.sub-header{

    display: flex;

}
.left-image{

    display: flex;
}

.right-image{

    display: flex;
    justify-content: center;
    flex-grow: 2;
    height: 65px;
    padding: 10px;
    background-color:palegreen;
}

.sub-header1{


    background-color:rgb(8, 8, 75) ;
    flex-basis: 100%;
    display: flex;

}
 .lefttext{

    display: flex;
    flex-basis:10% ;
    background-color: #f37e2b;
    align-items: center;
 }

 .lefttext p{

    font-size: large;
    color: white;
 }
 .apply-division{

    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 10px;
 }

 .apply-division img {

    background-color: white;
    border-radius: 40px;
    opacity: 0.5;
    
 }
 .apply-division p{

    font-size:large;
    margin-left: 10px;
    opacity: 0.5;

 }
.opacity1 {

    opacity: 0.9;
} 

 .main-body{
    display: flex;
    flex-wrap: wrap;
    height: 100px;
     
    flex-basis: 1000px;
    /* background-color: aqua; */
 }


 .left-aside{

    /* background-color: rgb(35, 185, 135); */
    flex-basis: 180px;
    height: 1200px;
    flex-grow: 1;

 }

 .card{

    height: 120px;
    /* flex-basis: 100px; */
    margin: 15px;
    padding: 10px;
    background-color: antiquewhite;
    border: soild 1px rgb(31, 23, 25);
    

    
    
 }
 .card p{
    color: navy;
    font-size: 22px;
 }

 .card img{
    height: 60px;
    width: 250px;
 }
 
 .submain-body{

    /* display: flex; */
    height: 600px;
    /* background-color:aqua; */
    flex-basis: 600px;
    flex-grow: 2;

 }
 .right-aside{

    /* background-color: cadetblue; */
    /* display: flex; */
    flex-basis: 200px;
    flex-grow: 1;
 }

 .card2{
    display: flex;
    height: 100px;
    background-color: #ad1914;
    justify-content: center;
    align-items: center;
    margin: 20px;


 }
 .card2 p{

    font-size: 19px;
    color: white;
 }
 .card2 img{

    margin-top: -20px;
    height: 20px;

 }

 .card3{
    display: flex;
    height: 100px;
    background-color:rgb(54, 72, 230);
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: -30px;

 }
 .card3 p{

    font-size: 19px;
    color: white;
    padding: 30px;
 }
 .card3 img{

    margin-top: -20px;
    height: 20px;
 }
 
.last-card{
    
    /* display: flex; */
    height:550px;
    flex-basis: 20px;
    margin: 20px;
    /* background-color: #5e2523; */
    border: 1px solid gray;
    
}
.bell img{

    padding: 20px;
}
.combine{

    display: flex;
    border-bottom: 1px solid gray;
    
 }


.notice p{
border-left: 1px solid rgb(70, 68, 68);
padding: 20px;
font-size: 20px;
border-bottom: 1px soild rgb(95, 91, 91);

}

.left-text p{

    margin: 12px;
    padding: 10px;
    color: rgb(248, 63, 63);
} 

 .left-text ul{
    color: rgb(248, 63, 63);
    margin: 20px;
    padding: 20px;
    margin-top: -30px;
}

.rule{
    height: 40px;
    flex-basis: 20px;
    background-color: rgb(44, 44, 223);
    display: flex;
    margin: 20px;
    align-items: center;
    
}
.rule img{
    height: 20px;
    margin: 5px;
}
.rule p{
    color: white;
}

.rule1{
    height: 40px;
    flex-basis: 20px;
    background-color: rgb(44, 44, 223);
    display: flex;
    margin: 20px;
    align-items: center;
    
}
.rule1 img{
    height: 20px;
    margin: 5px;
}
.rule1 p{
    color: white;
}

.marquee1{

    margin-top: 15px;
    border: 2px solid red;
    font-style: unset;
    /* padding: 9px; */
}

.login{

    display: flex;
    border-bottom: 3px solid rgb(57, 57, 226);

}
.login p{
    margin-left: 10px;
    color:orange;
    font-size: 30px;
    font-family: sans-serif;
}

.application{

    display: flex;
}
.username{
    /* background-color: bisque; */
    /* display: flex; */
    margin: 10px;
    flex-basis: 300px;
    flex-grow: 1;
    height: 300px;
}

.username input{
margin: 4px;
padding: 5px;
font-size: 15px;
width: 93%;
}

.instruction{
    /* background-color: cadetblue; */
    flex-basis: 300px;
    border: 1px solid orange;
    flex-grow: 1;
    margin-top: 50px;
}
.instruction h3 {
    margin: 20px;
}

.captcha{
    display: flex;

}
.captcha img{

    height: 120px;
    margin-top: 10px;


}
.ref{
    /* display: flex; */
    margin-left: 10px;
    margin-top: 10px;
}

.login1{
    display: flex;
    margin-top:20px;
}

.login2 p{

    background-color: #1aca55;
    font-size: large;
    padding: 8px;

}

.forgot p{
    background-color: rgba(0, 0, 255, 0.575);
    font-size: large;
    margin-left: 8px;
    padding: 8px;

}

.user{
    border: 2px solid black;
}

.forusername{

    background-color: rgb(216, 39, 39);
    margin-left: 8px;
    padding: 8px;
}

.instruction{
    /* display: flex; */
    list-style-position: inside;
    list-style-image: url("/image/notebook.png");
    text-align: left;
}

.instruction ul li{
    font-size: medium;
    margin-left: 10px;
    margin-top: 5px;
}

.right-aside{


}

.newapplication{

    display: flex;
    border: 1px solid rgb(66, 64, 64);
    /* margin: 5px; */
    align-items: center;
    margin-top: 55px;
    margin-left: 40px;

}

.paraghraph p{

    margin-left: 15px;
    padding: 5px;
    font-size: 10px;
}
.newapplication img{
    margin-left: 10px;
    padding: 5px;

    
}

.applicant-login{

    
    display: flex;
    border: 1px solid rgb(66, 64, 64);
    /* margin: 5px; */
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;

}


.paraghraph p{

    margin-left: 15px;
    padding: 5px;
    font-size: 10px;
}
.applicant-login img{
    margin-left: 10px;
    padding: 5px;

    
}

.find{

    
    display: flex;
    border: 1px solid rgb(66, 64, 64);
    /* margin: 5px; */
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;

}


.paraghraph p{

    margin-left: 15px;
    padding: 5px;
    font-size:20px;
}
.find img{
    margin-left: 10px;
    padding: 5px;

    
}


.institute{

    
    display: flex;
    border: 1px solid rgb(66, 64, 64);
    /* margin: 5px; */
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;
    padding:-10px;

}


.paraghraph p{

    margin-left: 15px;
    padding: 5px;
    font-size:20px;
}
.institute img{
    margin-left: 10px;
    padding: 5px;

    
}

.suggestion{

    
    display: flex;
    border: 1px solid rgb(66, 64, 64);
    /* margin: 5px; */
    align-items: center;
    margin-top: 10px;
    margin-left: 40px;

}


.paraghraph p{

    margin-left: 15px;
    padding: 5px;
    font-size:20px;
}
.suggestion img{
    margin-left: 10px;
    padding: 5px;

    
}
.user{
    display: flex;
    margin-top: 20px;
    margin-top: 20px;
    margin-left: 40px;
    border: 1px soild rgb(75, 69, 69);
    align-items: center;
    /* background-color: #1aca55; */
    padding: 10px;
}

.user-manuals{
    height: auto;
    margin-left: 20px;
    border: 1px soild rgb(100, 94, 94);
    

}

.book img{

  border-right: 2px solid black;
}
.right2{
  height: auto;
/* width: 300px; */
border: 1px solid black;
margin-left: 40px;
margin-top: 5px;    

   } 
.list3{
    margin-left: 60px;
    list-style-image: url("/image/pdf.png");
}

.list3 ul {
    margin-top: 20px;
}

.frequntly{

    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    align-items: center;
    border: 1px soild rgb(63, 57, 57);


}

.fimg{
    margin-left: 10px;
}

.frq p{

    margin-left: 20px;
    font-size: 18px;
    
}